# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
venv/
.env

# Models
models/*.npy
models/*.pkl

# Results
results/*.png

# Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log
